<app-guest-navbar></app-guest-navbar>
<router-outlet></router-outlet>
<div class="container">
    <h1 class="text-center mt-5 mb-3">Kontaktirajte nas</h1>
    <div class="wrapper animated bounceInLeft">
        <div class="company-info">
            <h3>PC Komponente d.o.o.</h3>
            <ul>
                <li>
                    <i class="fa fa-road"></i> Tehnološki Park 22, 11000 Beograd</li>
                <li>
                    <i class="fa fa-phone"></i> (011) 123-4567</li>
                <li>
                    <i class="fa fa-envelope"></i> info@pckomponente.com</li>
            </ul>
        </div>
        <div class="contact">
            <h3>Pošaljite nam Email</h3>
            <form id="contact-form">
                <p>
                    <label>Ime</label>
                    <input type="text" name="name">
                </p>
                <p>
                    <label>Kompanija</label>
                    <input type="text" name="company">
                </p>
                <p>
                    <label>Email Adresa</label>
                    <input type="email" name="email">
                </p>
                <p>
                    <label>Telefon</label>
                    <input type="tel" name="phone">
                </p>
                <p class="full">
                    <label>Poruka</label>
                    <textarea name="message" rows="5"></textarea>
                </p>
                <p class="full">
                    <button type="submit">Pošalji</button>
                </p>
            </form>
        </div>
    </div>
</div>
