<app-guest-navbar></app-guest-navbar>
<router-outlet></router-outlet>
<div class="container">
    <div class="row">
        <!-- left side content -->
        <div class="about-content animated fadeIn">
            <h1 class="animated fadeIn one">O nama</h1>
            <div class="about-me">
                <div class="animated fadeIn two">
                    <p>Kao vodeći stručnjaci u oblasti računarskih komponenata, posvećeni smo pružanju najkvalitetnijih proizvoda i usluga našim klijentima. Sa preko dve decenije iskustva, naša kompanija se izdvaja inovativnim pristupom u izradi i distribuciji komponenata koje pokreću vaše računare.</p>
                    <p>Od matičnih ploča visokih performansi do naprednih grafičkih kartica, naša ponuda uključuje sve što je potrebno za izgradnju moćnih i pouzdanih računarskih sistema.</p>
                </div>
                <div class="Synopsis-highlightLine five" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                <div class="animated fadeIn three">
                    <p class="Synopsis-highlight">Naš tim stručnjaka neprestano prati najnovije trendove i tehnologije kako bi osigurali da naši proizvodi zadovoljavaju najviše standarde kvaliteta i performansi. Uz naše komponente, korisnici mogu očekivati ne samo vrhunske performanse već i pouzdanost i dugotrajnost.</p>
                </div>
                <div class="Synopsis-highlightLine five" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                <div class="animated fadeIn four">
                    <p>Svaki proizvod koji napusti našu liniju proizvodnje prolazi kroz stroge kontrole kvaliteta kako bi osigurali da svaki korisnik dobije najbolje moguće računarsko iskustvo. Bilo da gradite računar za igranje, profesionalni rad ili svakodnevnu upotrebu, naše komponente pružaju pouzdanu osnovu za vaše potrebe.</p>
                    <p>Zahvaljujući posvećenosti inovacijama i kvalitetu, postali smo prepoznatljiv brend u industriji računarskih komponenata, sa brojnim zadovoljnim klijentima širom sveta.</p>
                </div>
            </div>
        </div>
        <!-- right side content -->
        <div class="about-panel-wrapper">
            <div class="about-panel animated fadeIn">
                <div class="zero photo-about animated fadeIn" style="transform:translateY(0px) translateZ(0px)">
                    <div class="hide-photo-filter animated fadeIn"></div>
                    <div class="about-info">
                        <h3 class="about-info-name animated fadeInUp up-one">NAŠ TIM</h3>
                        <div class="about-info-contact">
                            <h4 class="animated fadeInUp up-two"> Stručnjaci za Računarske Komponente</h4>
                            <p class="animated fadeInUp up-three">12345 Tehnološka Ulica, Grad, Država</p>
                            <a href="" class="animated fadeInUp up-four">kontakt@nasa-kompanija.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>