<app-admin-navbar></app-admin-navbar>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <br />
  <h2 class="mt-1">Početna strana</h2>
  <div class="p-3 bg-white rounded shadow">
    <div class="row">
      <!-- Kartica za korisnike -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Korisnici</h5>
            <p class="card-text">Pregledajte sve registrovane korisnike.</p>
            <a href="/users" class="btn btn-primary">Prikaži korisnike</a>
          </div>
        </div>
      </div>

      <!-- Kartica za autobuse -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Autobusi</h5>
            <p class="card-text">Pregledajte sve aktivne autobuse.</p>
            <a href="/buses" class="btn btn-primary">Prikaži autobuse</a>
          </div>
        </div>
      </div>

      <!-- Kartica za servise -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Servisi</h5>
            <p class="card-text">Pregledajte sve servise.</p>
            <a href="/services" class="btn btn-primary">Prikaži servise</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>